body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.container{
    background: #000000d0;
    color:white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 450px;
    margin: 1em;
}

.search{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    outline: none;
    border: none;
    padding: 0.4em 1em;
    border-radius: 18px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: 100%;
}

h1.temp{
    margin: 0;
}

.flex{
    display: flex;
    align-items: center;
}
.card{
    display: none;
}